.selfButton {
  background-color: var(--bg-c);
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  & h3 {
    display: flex;
    gap: 0.4em;
    font-size: clamp(1.4em, 1.8vw, 2em);
    align-items: center;
    text-transform: uppercase;
  }
  & svg {
    transition-property: rotate, color;
    transition-duration: 0.5s;
  }
  @media (any-hover: hover) {
    &:hover svg {
      color: var(--primary-c);
    }
  }
}
.selfButton.open svg {
  rotate: 180deg;
  color: var(--primary-c);
}

.selfToggle {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s;
  & > div {
    overflow: hidden;
    display: flex;
    padding-inline: 0.4em;
  }
  & ul {
    padding-top: 0.6em;
    flex: 1;
  }
  & li {
    display: flex;
    gap: 0.6em;
    line-height: 1.8;
    align-items: flex-start;
    &::before {
      content: "";
      width: 0.6em;
      aspect-ratio: 1;
      margin-top: 0.6em;
      background-color: var(--primary-c);
      border-radius: 50%;
    }
  }
  & img {
    width: 50%;
    aspect-ratio: 1;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.6em;
  }
}
.selfButton.open .selfToggle {
  grid-template-rows: 1fr;
}
