.container {
  height: 200vh;
  width: 100vw;
  margin-left: -5vw;
}
.slider {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.item {
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
}
.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(.7);
}

.body {
  position: absolute;
  width: max(50%, 500px);
  height: fit-content;
  inset: 0;
  margin: auto;
}
.item h4 {
  text-align: center;
  font-size: 5vw;
  font-weight: 300;
  text-transform: uppercase;
}
