.hero {
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center start;
  &::before {
    inset: 0;
    position: absolute;
    content: "";
    background: url(/hero.webp) center/cover;
    opacity: 0.8;
    /* scale: -1 1; */
  }
}
.scroll {
  writing-mode: vertical-rl;
  position: relative;
  border-top: 1px solid;
  padding: 2em 0.4em 0;
  &::before {
    inset: 2em auto auto -10px;
    position: absolute;
    content: "";
    background-color: currentColor;
    height: 140px;
    width: 1px;
    animation: grow-shrink 5s linear infinite;
  }
}
@keyframes grow-shrink {
  0% {
    scale: 1 0;
    transform-origin: top;
  }
  50% {
    scale: 1;
    transform-origin: top;
  }
  51% {
    transform-origin: bottom;
  }
  100% {
    scale: 1 0;
    transform-origin: bottom;
  }
}
.sns {
  position: fixed;
  inset: auto auto 3vw 5vw;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  color: #444;
  font-size: 30px;
  z-index: 100;
}

.portfolio {
  position: relative;
  padding-top: max(15vw, 120px);
}
.portfolio > img {
  position: absolute;
  object-fit: cover;
}
.portfolio > img:first-child {
  inset: 5vw auto auto 0;
  width: 50%;
  height: auto;
  aspect-ratio: 8/5;
  z-index: -1;
  /* filter: contrast(0.9); */
}
.portfolio > img:nth-child(2) {
  inset: 0 0 auto;
  width: 46%;
  height: auto;
  aspect-ratio: 1;
  margin-inline: auto;
  z-index: -2;
  scale: -1 1;
  opacity: 0.6;
}

.portfolio .body {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-block: max(8vw, 60px) max(10vw, 80px);
  width: fit-content;
  margin-left: auto;
}
.portfolio h3 {
  font-size: max(2.4vw, 1.3em);
  letter-spacing: 0.1em;
  font-weight: 400;
}
.portfolio p {
  font-size: max(1.3vw, 1em);
  line-height: 2.2;
}
