.headingWrapper {
  overflow: hidden;
  width: 100vw;
  margin-inline: calc((100vw - 100%) / -2);
}

.commonHeading {
  --fz: max(8vw, 3rem);
  --indent: calc(var(--fz) * 1.2);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: normal;
  margin-left: var(--indent);
  & span {
    margin-left: calc(var(--indent) * -1);
    font-size: var(--fz);
    text-transform: uppercase;
    letter-spacing: 0.5ch;
    text-indent: 0.1ch;
    font-weight: 600;
    &::first-letter {
      color: var(--primary-c);
    }
  }
}
.right {
  align-items: end;
  margin-left: auto;
  margin-right: var(--indent);
  & span {
    margin-left: auto;
    margin-right: calc(var(--indent) * -1 - 0.5ch);
    &::first-letter {
      color: #fff;
    }
  }
}

@media (width < 768px) {
  .commonHeading {
    font-size: 1rem;
  }
  .commonHeading span {
    letter-spacing: 0.2ch;
  }
  .right span {
    margin-right: calc(var(--indent) * -1 - 0.2ch);
  }
}
