/* self */

.profile {
  width: min(100%, 1200px);
  margin: 0 auto;
  padding-bottom: 0;
  & h2 span {
    color: var(--primary-c);
  }
}

.self {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image intro";
  margin: 0 auto;
  gap: 5vw;
  & > img {
    grid-area: image;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 max(1vw, 5px) max(2vw, 10px) rgb(0 0 0 /0.3);
    /*
    今はrgbaは使わず、rgbの,をはずしたものを使用。
    透明度に関しては/をつける。
    上記が現在推奨されている使い方。
     */
  }
}

.selfList {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-area: intro;
}

.selfIntroduction {
  margin-bottom: 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
  & > img {
    grid-area: 1/1/2/2;
    z-index: -1;
    width: 50%;
    height: auto;
    place-self: end;
    opacity: 0.3;
    filter: hue-rotate(180deg);
  }
}

.selfHead {
  grid-area: 1/1/2/2;
  & h2 {
    font-size: max(2vw, 1.9em);
    font-weight: 600;
  }
  & dl {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
.row {
  display: flex;
  align-items: baseline;
  & dt {
    width: 4em;
    font-weight: normal;
    text-transform: capitalize;
    &::first-letter {
      color: var(--primary-c);
      font-weight: 500;
      font-size: max(1.5vw, 1em);
    }
  }
  & dd {
    flex: 1;
    &::before {
      content: "：";
    }
  }
}

.selfIntroduction p {
  line-height: 1.8;
}

/* skill */

.skill ul {
  display: flex;
  flex-direction: column;
  gap: max(5vw, 50px);
  width: min(100%, 1200px);
  margin-inline: auto;
  margin-top: max(5vw, 50px);
}
