.card {
  position: relative;
}
.card > button {
  position: absolute;
  inset: 0;
}
.card article {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.card article > img {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  object-fit: cover;
  margin-bottom: 0.2em;
  border-radius: 10px;
}
.card h2 {
  font-weight: 600;
}
.tagsList {
  display: flex;
  gap: 0.4em;
  flex-wrap: wrap;
}
.tagsList a {
  padding: 0.2em 0.8em;
  background-color: #eee;
  border-radius: 4px;
  transition: opacity 0.4s;
  position: relative;
  font-size: 14px;
  z-index: 2;
}
.tagsList a:hover {
  opacity: 0.6;
}
.modal {
  position: fixed;
  inset: 0;
  z-index: 500;
  background-color: rgb(0 0 0/0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s, visibility 0.5s;
  display: grid;
  place-items: center;
}
.container {
  padding: 5vw;
  background-color: #fff;
  width: 600px;
  aspect-ratio: 1;
  max-width: 90%;
  max-height: calc(100vh - 5vw);
  overflow-y: scroll;
}
.modal img {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
  object-fit: cover;
}
.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}