

.selfButton {
    background-color: var(--bg-c);
    border-radius: 10px;
    padding: 1em;
    width: 100%;
}

.selfButton h3 {
    display: flex;
    gap: 0.4em;
    font-size: 2em;
    align-items: center;
    text-transform: uppercase;
}

.selfToggle {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .5s;
}

.selfToggle > div {
    overflow: hidden;
}

.selfButton.isOpen .selfToggle {
    grid-template-rows: 1fr;
}

.selfButton svg {
    transition: rotate 0.5s;
}

.selfButton.isOpen svg {
    rotate: 180deg;
}