.buttons {
  display: flex;
  align-self: center;
  gap: 2em;
  padding: max(5vw, 50px) 5vw 0;
}
.buttons a {
  padding: .8em 2em;
  border-radius: 6px;
  border: 1px solid;
  transition-property: background-color, color, border-color;
  transition-duration: .4s;
  text-transform: uppercase;
}
.buttons a:hover, .buttons a.current {
  background-color: var(--primary-c);
  color: #fff;
  border-color: var(--primary-c);
}