.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5vw;
  height: 80px;
  align-items: center;
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;
}
 .header nav {
    display: flex;
    width: max(40%, 400px);
    justify-content: space-between;
    
  }
 .header a {
  text-transform: uppercase;
    
  }
