.list {
  display: flex;
  flex-direction: column;
  width: min(100%, 700px);
  margin-inline: auto;
  & li {
    border-bottom: 2px solid var(--bg-c);
    position: relative;
    &::before {
      position: absolute;
      content: "";
      inset: auto 0 -2px;
      height: 2px;
      background-color: var(--primary-c);
      scale: 0 1;
      transform-origin: right;
      transition: scale 0.6s;
    }
    &:hover {
      & article {
        translate: 1em;
      }
      &::before {
        scale: 1;
        transform-origin: left;
      }
    }
  }
  & article {
    padding-block: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    transition: translate 0.4s;
  }
  & a {
    position: absolute;
    inset: 0;
  }
  & time {
    width: max(30%, 8em);
  }
  & h3 {
    flex: 1;
    line-height: 1.6;
  }
}

@media (width < 768px) {
  .list {
    & article {
      flex-direction: column;
      align-items: start;
      gap: 0.4em;
    }
    & time {
      color: #999;
    }
  }
}
